<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

<div class="innerdiv">
  <br>
 <h1><%= title %></h1>
 <br>
 <h4><a href="content/resume.pdf" target="_blank">My resume</a></h4>
 <br>
   <img src="assets/images/me.jpg" alt="myPhoto" width="200">
   <br>
   <h4>My name is Nathan Heung
    <br>
    I was born in Toronto Canada in 1993
    <br>
    I'm currently studying 
    <a href="https://www.centennialcollege.ca/programs-courses/full-time/artificial-intelligence/">Software Engineering AI</a> 
    at <a href="https://www.centennialcollege.ca/">Centennial College</a>
   </h4>

   </div>




   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

